* {
    margin: 0;
	padding: 0;
	font-family: Helvetica;
}
.homepage {
	padding: 0px;
	margin: 0px;
 	background-color: #36393f;
	border: 1px solid #2D2D30;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
    bottom: 0px;
	overflow: hidden;

}
#homepage{
	background-image: url("../images/trophyLightGrey.png");
	background-size: 500px;
	background-repeat: no-repeat;
	background-position: center;
}
/* Title bar icons */
#title-bar {
	-webkit-app-region: drag;
 	height: 30px; 
 	padding: 0px;
 	margin: 0px; 
    color: #ADADAD;
    background-color: #202225;
    font-family: sans-serif;
}
#title-bar-btns {
	-webkit-app-region: no-drag;
	position: fixed;
	top: 1px;
	right: 0px; 
}
#title-bar-btns button {
	height: 30px;
	width: 25px;
	background-color: transparent;
	border: none;
	color: #F1F1F1;
    font-size: 16px;
    text-align: center;
}
#title-bar-btns button:hover {
	background-color: #3F3F41;
}
#user-profile{
	background-color: black;
	color: white;
	padding-right: 0px;
	border: none;
}

.dropdown{
	position: relative;
	display: inline-block;
}

.dropdown-content{
	display: none;
	position: absolute;
	background-color: #424242;
	min-width: 10px;
	font-size: 12px;
	z-index: 1;
}

.dropdown-content a {
	color: #bdbdbd;
	padding: 10px 20px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {background-color: #696969;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover #user-profile {background-color: grey;}

p{
    padding: 0;
    margin: 0;
    font-weight: bold;    
}
input{
    width: 100%;
    
}
input[type=text]{
    border: none;
    color: white;
    /*border-bottom: 1px solid #fff;*/
    background: transparent;
    outline: none;
	height: 40px;
	padding-left: 10px;
	padding-bottom: 10px;
}

/* Game List */
.gameSearchField {
	height:10px;
	width:200px;
	background-color:#202225;
	font-size:10pt;
	color:white;
}

#plus {
   cursor: pointer; 
}
.box{
    height: 30px;
    background-color: #2a2c31;
    color: white;
}
.scrollbar{
	float: left;
	height: 740px;
	width: 250px;
	overflow-y: scroll;
    margin-bottom: 0px;
    background-color: #2f3136;
}
.scrollbar ul{
	list-style-type: none;
	color:#d3d3d3;
}
.scrollbar li li{
	margin:5px 5px;
	padding:5px;
	cursor:pointer;
}
.scrollbar li li:hover {
	background-color:#36393e;
}
.force-overflow{
	max-height: auto;
}
#style-1::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #2f2f33;
}

#style-1::-webkit-scrollbar{
	width: 12px;
	background-color: #2f2f33;
}

#style-1::-webkit-scrollbar-thumb{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
.gameScroll{
	position: absolute;
}
/* Content */
#gameName{
	text-align: left;
	font-size: 30px;
	color: #F1F1F1;
	margin-top: 20px;
	margin-left: 10px;
}
#play-btn{
	width: auto;
	height: 70px;
	/*background-image: linear-gradient(to right,#2f3136, #36393f);*/
	background-image: linear-gradient(to right,#202225, #2f3136);
	margin-top: 50px;
	margin-left: 10px;
	vertical-align: middle;
}
#play-btn button {
	height: 70px;
	width: 70px;
	background-color: transparent;
	border: none;
	color: #F1F1F1;
	font-size: 50x;
	text-align: center;
	float: left;
}
#play-btn button:hover {
	background-color: #3F3F41;
}
#hidd-content{
    height: auto;
    width: auto;
    margin-left: 250px;
    padding-left: 1px;
	padding-top: 1px;
}
#hidd-friend{
    height: auto;
    width: auto;
    margin-left: 250px;
    padding-left: 1px;
	padding-top: 1px;
}
#dis-achieve{
	margin-left: 10px;
	margin-top: 50px;
	width: auto;
	height: auto;
	background-image: linear-gradient(to right,#202225, #2f3136);
}
#launch-game{
	padding-top: 30px;
	padding-left: 80px;
	color: #F1F1F1
}
#table-achieve td{ 
	padding-bottom: 50px;
	padding-top: 1px;
	padding-left: 1px;
	color: #F1F1F1;
}
progress{
	height: 15px;
	width: 300px;
	margin-left: 10px;
	float: right;
	background-color: #187c24;
}
progress::-webkit-progress-bar {
	background-color: #ADADAD;
	 border-radius: 2px;
   }
   progress::-webkit-progress-value {
	  border-radius: 2px; 
   }
   progress:after {
	margin-left: 150px;
	content: attr(value)'/' attr(max);
  }
.scrollbar2{
	
	height: 547px;
	width: auto;
	overflow-y: scroll;
    margin-bottom: 0px;
    background-image: linear-gradient(to right,#202225, #2f3136);
}